@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);


/* CSS RESET */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  
      margin: 0;  
      padding: 0;  
      border: 0;  
      font-size: 100%;  
      font: inherit;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
      vertical-align: baselinebaseline;  
      outline: none;  
      -webkit-box-sizing: border-box;  
      -moz-box-sizing: border-box;  
      box-sizing: border-box;  
    }  
    html, body { height: 100%; }  
      
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }  
    ol, ul { list-style: none; }  
      
    blockquote, q { quotes: none; }  
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }  
    strong { font-weight: bold; }   
      
    table { border-collapse: collapse; border-spacing: 0; }  
    img { border: 0;}  
      
    p { font-size: 1em; line-height: 1.0em; color: #333; }  

    /* END RESET*/


body {
	font-size: 80%;
	color: #333;
	background: rgba(255, 251, 237, 0.5) url("../images/bg_ramas.png") repeat center center fixed !important;
	font-family: 'Open sans', Helvetica, Verdana, Helvetica, Arial;
	text-align: left;
	padding: 0;
	margin: 0;
	min-width: 705px;
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
}

/* -- The Generic Defs --*/
a {
	color: #00a026;
	text-decoration: none;
	border-bottom: 0px dashed transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a:link {
	/*color: #007FC9;*/
	text-decoration: none;
}
a:visited {
	/*color: #007FC9;*/
	text-decoration: none;
}
a:hover, input[type=submit]:hover  {
	border: 0;
	/*border-bottom:1px solid #00a0ff;*/
	/*color: #00a0ff !important;*/
	filter: alpha(opacity=60);
	opacity: .6;
}
a[href*="darwin"],
a[href*=".kml"],
a[href*="zip"],
a[href*="download"] {
	background:url(images/download1.png) no-repeat top left;
	padding-left:15px;
}
a img {
	border: none;
}
textarea {
	font: 0.9em 'Open sans',Verdana, Arial, Helvetica, sans-serif;
}
h1{
	font-size: 1.8em !important;
	margin: 20px 0 0 0;
	font-weight: 300 !important;
	color: #5c5134 !important;
	text-transform: uppercase;
}
h2 {
	font-size: 1.4em !important;
	font-weight: 400 !important;
	display: block;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1em;
}
p {
	margin: 0.33em 0 0.8em 0;
	line-height:1.3em;
}
p.standalone {
	text-align: center;
}
p.standalone img {
	display: inline;
}

fieldset {
	padding-left: 0px;
	display: block;
}
fieldset p label {
	padding-left: 0px;
}
fieldset p {
	margin-left: 0px;
	padding-left: 0px;
	clear: left;
}
ul, ol {
	margin: 0;
	padding-left: 1.15em;
}
ul li,
ol li{
	text-align: left;
	line-height:1.3em;
}
pre, code {
	font: 110% "Andale Mono", Courier, "Courier New", monospace;
	margin: 1em 0;
}
hr {
	clear: both;
	/*visibility: hidden;*/
	background: url("images/shadow_top.png") no-repeat top center; background-size:  100% 100%; height:10px; width:100%; display:block; width:inherit; padding: 0px; margin: 0px; border:0px; position: absolute;

}
small {
	font-size: 85%;
}
big {
	font-size: 115%;
}
sup {
	font-size: smaller;
	vertical-align: 0.5em;
	line-height: 1px;
}
img.pic {
	float: right;
	position: relative;
	margin: 0.25em 0 0.66em 1.5em;
}
img.border {
	border: 3px double;
}
img.standalone {
	display: block;
	margin: 0.5em auto;
	width: auto;
	max-width: 100%;
}
.warning {
	background: #FF8;
	color: red;
	border: 2px solid;
	padding: 1em;
}
.highlight {
	background: #B4D5FF;
	font-weight: bold;
}
/* -- END The Generic Defs --*/

#container {
	max-width:1200px;
	/*min-width:900px;*/
	margin:0 auto;

	padding-top: 60px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px;
}
#container:after {
  content: "";
  display: block;
}

/* ---- Top Header ---- */

header.sib {background: rgb(92, 81, 52); height:50px; color:white; text-transform:uppercase; min-width: 770px; position: fixed; width: 100%; z-index: 10000; top: 0px}
header.sib a{ color:white; padding:0px; display:inline-block; vertical-align:top; margin:0 10px; padding-right: 4%; }
header.sib .top_menu {width: 550px; margin: 0 auto; display: inline;}
header.sib .logo{
		float: left;
		position: absolute;
		z-index:15000;
		margin-left: 100px
		}
		header.sib .logo:hover{
			filter: alpha(opacity=70);
			-khtml-opacity:0.7; 
			-moz-opacity: 0.7;
			opacity: 0.7;
			-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		}
		header.sib:after{
			content:" ";
			display:block;
			height:20px;
			width:100%;
			background: url(images/shadow_top.png) no-repeat top center;
			position: absolute;
			margin-top: 50px;
			}
		header > div{
			max-width: 1500px;
			margin: 0 auto;
		}
header h1{font-family: 'Open Sans Condensed' !important; font-weight: 400; font-size: 1.7em !important; display: block; margin: 4px auto 0; text-align: center; color: white !important;}
header .nav-pills { float: right; display: inline-block; position: absolute; right: 12px; top: 0px;}
header .nav-pills a{
	font-weight: 700;
	font-size: 0.8em;
	line-height: 1.05em !important;
	vertical-align:middle !important;
	margin: 0 1px !important;
	padding: 13px 7px !important;
	color: white;
	height: 50px;
	width: 100px;
	text-align: center;
	-webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: rgba(255,255,255,0.3);
    }
header .nav-pills span:first-child{
	margin-left: 70px;
}
header .nav-pills  li:first-child a,
header .nav-pills  li:nth-child(2) a,
header .nav-pills  li:nth-child(3) a{
	color: white;
    background-color:rgba(161,134,63,0.7) ;
}
header .nav-pills  li:nth-child(3){
	margin-right: 0px;
}
/* ---- END Top Header ---- */


/* -- search form -- */

#content {
	margin:0;
	padding: 0px;
	border: 0;
	/*box-shadow:0 5px 30px 2px rgba(0, 0, 0, 0.4);*/
	-moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
small {padding:10px 0 15px 0; display:block; }


/* Footer
---------------------------------------------------*/
footer {
	font-size: 0.8em;
	clear: both;
	margin: 0;
	color: #515254 !important;
	background: #69665d url("images/shadow_top.png") no-repeat top center;
	line-height: 1.5em;
	position: relative;
	bottom: 0px;
	display: block;
	width: 100%;
	
}
#container:after, footer {
	min-height: 120px;
}

footer section{ margin: 0 auto; max-width: 1100px; padding: 20px 0 !important;}
footer section div{ display: inline-block; vertical-align: top;}
footer section div:nth-child(1){ width: 60%; text-align: left;}
footer section div:nth-child(2){ width: 33%; padding-top: 10px; min-width: 325px;}
footer section div img{
	height: 70px;
	width: auto;
	margin: -5px 0 0 10px;
	background-color: rgba(255,255,255,0.4);
	padding: 5px;
	-webkit-border-radius: 7px;
    border-radius: 7px;}
footer section a{
	color: white !important;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
}
footer section a:hover{
	color: black !important;
}
footer  p{
	color: white;
	font-size: 0.8em;
	display: block;
	padding-left: 10px;
}

#skipNav {
	position: absolute;
	left: -9999px;
	font-size: small;
}
#skipNav a:hover {
	color: #f00;
}
#skipNav a:focus {
	display: block;
	position: absolute;
	top: -220px;
	left: 9990px;
	font-size: large;
	background: #fff;
	border: solid 2px #1B6BD8;
	padding: 10px;
	width: 15em;
	z-index: 1;
}
.hr_clear {
	clear: both;
	border: 0;
	width: 1px;
}
.hide {
	display: none;
}

ol {
	margin-left: 10px;
}
div#warnings {
	font-family:'Open Sans Condensed';
	min-width: 250px;
	vertical-align: top;
	padding:10px 10px 10px 55px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
	background: rgba(248, 84, 84, 0.3) url("../../images/icons/warning.png") no-repeat scroll 10px center;
}
div#warnings h4 {
	color: #000000;
	margin-top: 5px;
	margin-left: 5px;
}
div#warnings p {
	margin-left: 5px;
	font-family:helvetica, arial, sans-serif;
	font-size:1.1em;
}
div#warnings ul {
	margin-left: 10px;
}

input[type=search],input[type=text], textarea, #statesinput{
	width:350px;
	-webkit-border-radius: 13px;
    border-radius: 13px;
	background-color:#fffff;
	background:rgba(255,255,255,0.8) ;
	border:0px;
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
     box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
	 padding:9px 17px;
	 color:#555;
	 font-size:0.9em;
	 -webkit-appearance:none;
}
input[type=search]{
	/*background:rgba(255,255,255,0.8) url("images/lupa.png") no-repeat 10px center !important;
	padding-left:40px !important;*/
	margin-right:20px;
}
input[type=submit], button{
	-webkit-border-radius: 12px;
    border-radius: 12px;
	padding:7px 10px;
	border:0px none;
	background:#34BCE0;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.9em;
}
input[type=submit]:hover,
button:hover{
	background-color:#176080;
	text-decoration:none;
	color:white !important;
}

optgroup{
	font-style:normal;
}
/*
p:empty,
div:empty {
	display: none;
}
*/
.caja_amarilla{
	margin-bottom: 10px;
	background-color: rgb(250,243,220);
	padding:15px 25px;
	display:block;
	text-align:left;
	font-weight: 300;
}
fieldset fieldset{
	padding: 0 !important;
}
.form-actions{
	background-color: transparent !important;
	border-color: transparent !important;
	margin-top: 0px !important;
}

.caja_amarilla h5{
	margin:10px 5px;
}
.caja_amarilla .genericList li {
	font-size:1.3em;
	padding:0px 10px;
	display:inline-block;
}

#content h4 {
	margin: 20px 0 5px 0;
	padding: 0;
	font-size: 1.7em;
	color:#41372F;
	text-transform:uppercase;
	font-weight:300;
}

.white_rounded_frame{
	margin: 0px 0 10px 0;
	padding:20px;
	min-height: 80px;
	background:rgba(250,249,243, 0.9);
	-webkit-border-radius: 20px;
    border-radius: 20px;
	position:relative;
}

@media screen and (max-width:1120px){
	header.sib nav {
		min-width: 900px;
	}
	.share_icons{
		width: 220px;
	}
	.share_icons a[href*=".com"] { 
		display:none;
	}
	#quickSearch{
		margin: 9px 180px 0 0;
	}
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	color: #fff !important;
	background-color: rgba(161, 134, 63, 1) !important;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

.nav-pills > .active > a, .nav-list > .active > a:hover {
	
	color: #fff !important;
	background-color: rgba(161, 134, 63, 1) !important;
}

.btn-success{
	color: #fff !important;
}

footer section div {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: #868686
}

.ribbon-wrapper-green{
	width: 100px;
	height: 56px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: 0
}

.ribbon-green{
	font: 700 15px sans-serif;
	text-align: center;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: relative;
	padding: 7px 0;
	left: -31px;
	top: 15px;
	width: 120px;
	background-color: #bfdc7a;
	background-image: -webkit-linear-gradient(top,#bfdc7a,#8ebf45)
}