* {
	outline: none !important;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

html {
	height: 100%;
	width: 100%;
}

html,body {
	/*background: url("/themes/yarce16/images/box_bg.gif") no-repeat scroll center center #666666;*/
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p,blockquote,code,pre,div,form,table {
	vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Lucida Sans, Lucida Grande, Arial !important;
	font-size: 16px !important;
	color: #333;
}

header,footer,nav,article,aside,section {
	display: block;
}

#contenidoAlternativo {
	display: none;
}

#contenedorPrincipal {
	/*background: url("../images/noise1.png") repeat scroll 0 0 #F2EEE3;*/
	background-image: url("../images/bg_tayrona.jpg");
	background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#aplicacion {
    height: 100%;
    position: relative;
}
#principal {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#header {
    background-position: left top;
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 5000;
}
.fondo_principal_encabezado {
	background: #49612b;
	/*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADtCAYAAAB+kx9wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUOI3FkbEOwjAMRJ/8AQyMfABbp04d8o98H+rMhFQG2qFScwytEkBV6i6wnO5yjny2qetaBmCSFviSDkMSFmMsuLuKtxMAyJqmwcZxXIyfwpyg7/vCgHnKLNdgV0nu0bYtAGckybqu+8sOQgjMi8h3KzOHLJcU2ZyqqirezpODr33zBncM42BOg/sF2eF4wuLzhiEwYgk0JTl9uklqzc2QelwfQAhBNgzD1vi73hzFib0AqFZ7tEuT42sAAAAASUVORK5CYII=") repeat-x scroll 0% 0% transparent;*/
}
#ill {
    background-position: 0 0;
    display: block;
    height: 38px;
    left: 0;
    position: absolute;
    width: 205px;
}
#titulo-header {
	float: left;
}
#logo_sib {
    background-position: 0 0;
    display: block;
    float: right;
}
.logo_sib {
	background-image: url("../images/logo_sib.png");
    width: 127px;
    height: 50px;
    float: right;
    margin-right: 40px;
}
#logo_sib span {
    display: none;
}
#header.fondo_principal_encabezado h1 {
    display: inline;
    height: 38px;
    margin: 0;
    position: absolute;
    width: 205px;
    z-index: 5005;
}
#header.fondo_principal_encabezado .brand {
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: 200;
  margin-left: 20px;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#footer {
    clear: both;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#creditos {
  background-position: left -145px;
  clear: both;
  color: white;
  font-size: 12px;
  height: 38px;
  margin: 0 auto;
  padding-top: 2px;
  position: relative;
  text-align: center;
  width: 100%;
}
.fondo_principal {
	background: #49612b;
	/*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADtCAYAAAB+kx9wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUOI3FkbEOwjAMRJ/8AQyMfABbp04d8o98H+rMhFQG2qFScwytEkBV6i6wnO5yjny2qetaBmCSFviSDkMSFmMsuLuKtxMAyJqmwcZxXIyfwpyg7/vCgHnKLNdgV0nu0bYtAGckybqu+8sOQgjMi8h3KzOHLJcU2ZyqqirezpODr33zBncM42BOg/sF2eF4wuLzhiEwYgk0JTl9uklqzc2QelwfQAhBNgzD1vi73hzFib0AqFZ7tEuT42sAAAAASUVORK5CYII=") repeat-x scroll 0% 0% transparent;*/
}
#contenido {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: auto;
}