#ingreso {
    padding: 20px;
}
#registro-formulario {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px #4E707C;
    position: relative;
    text-align: left;
    width: 550px;
    padding-bottom: 10px;
}
#registro-formulario h1 {
    background: none repeat scroll 0 0 #0092C8;
    border-bottom: 1px solid #007DAB;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 0 1em;
    padding: 10px 23px;
    text-shadow: 0 1px 0 #007DAB;
}
#registro-formulario div {
    border-radius: 3px 3px 3px 3px;
    margin: 0.5em 25px;
    padding: 4px;
    position: relative;
    text-align: right;
}
#registro-formulario label {
    float: left;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#registro-formulario .field {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px #CCCCCC;
    font-size: 16px;
    line-height: 1em;
    padding: 4px;
    width: 280px;
}
#registro-formulario .errorMessage {
    color: #FF0000;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
#registro-formulario .field:focus {
  box-shadow: 0 0 5px #0092C8;
}
#registro-formulario img {
    float: left;
    margin-left: 20px;
    padding-top: 10px;
}
#registro-formulario a {
    font-size: 12px;
}
#registro-formulario div.hint {
    font-size: 13px;
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 40px;
    position: relative;
    text-align: right;
}
#registro-formulario .boton {
    background: none repeat scroll 0 0 #0092C8;
    border: 0 none;
    border-radius: 50px 50px 50px 50px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    text-align: center;
    text-shadow: 0 1px 0 #007DAB;
}
#registro-formulario .boton:hover {
    background-color: #005777;
    color: #FFFFFF;
    text-shadow: 0 -1px 2px #050505;
}