@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700|Prosto+One);

* {
	outline: none !important;
}

html {
	height: 100%;
	width: 100%;
}

html,body {
	/*background: url("/themes/yarce16/images/box_bg.gif") no-repeat scroll center center #666666;*/
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p,blockquote,code,pre,div,form,table {
	vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Lucida Sans, Lucida Grande, Arial !important;
	font-size: 14px !important;
	color: #333;
}

body .modal {
    /* new custom width */
    /*width: 660px;*/
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -300px;*/
}

header,footer,nav,article,aside,section {
	display: block;
}

#contenidoAlternativo {
	display: none;
}

#contenedorPrincipal {
	background: url("../images/index.png") repeat scroll left top
		transparent;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#aplicacion {
    height: 100%;
    position: relative;
}
#principal {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#header {
    /*background-position: left top;
    height: 38px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 5000;*/
}
.fondo_principal_encabezado {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADtCAYAAAB+kx9wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUOI3FkbEOwjAMRJ/8AQyMfABbp04d8o98H+rMhFQG2qFScwytEkBV6i6wnO5yjny2qetaBmCSFviSDkMSFmMsuLuKtxMAyJqmwcZxXIyfwpyg7/vCgHnKLNdgV0nu0bYtAGckybqu+8sOQgjMi8h3KzOHLJcU2ZyqqirezpODr33zBncM42BOg/sF2eF4wuLzhiEwYgk0JTl9uklqzc2QelwfQAhBNgzD1vi73hzFib0AqFZ7tEuT42sAAAAASUVORK5CYII=") repeat-x scroll 0% 0% transparent;
}
#ill {
    background-position: 0 0;
    display: block;
    height: 38px;
    left: 0;
    position: absolute;
    width: 205px;
}
#header.fondo_principal_encabezado h1 {
    display: inline;
    height: 38px;
    margin: 0;
    position: absolute;
    width: 205px;
    z-index: 5005;
}
#footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    width: 100%;
}
#creditos {
  background-position: left -145px;
  clear: both;
  color: white;
  font-size: 12px;
  height: 38px;
  margin: 0 auto;
  padding-top: 2px;
  position: relative;
  text-align: center;
  width: 100%;
}
.fondo_principal {
	background-color: #4F6731;
}
#contenido {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
#page_wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  overflow: hidden;
  position: relative;
}
#page {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 3;
}
#page_header {
  background: none repeat scroll 0 0 #F1F1F1;
  border-bottom: 1px solid #DDDDDD;
  float: left;
  position: relative;
  width: 100%;
  z-index: 9000;
}
#page_header .page_controls {
  padding: 0 2px;
  position: relative;
  z-index: 3000;
}
#page_header .page_controls .left {
  min-width: 250px;
}
#page_header .page_controls .left, #page_header .page_controls .right {
  position: relative;
}
.left {
  float: left !important;
}
#page_header .page_controls .left ol.left, #page_header .page_controls ul.left {
  list-style: none outside none;
  margin: 0px;
}
#page_header .page_controls .btn-toolbar {
  margin: 0px;
}
#page_header .page_controls li {
  clear: none;
  float: left;
  position: relative;
  margin: 4px 2px;
}
.container_inner_wrapper {
  color: #000000;
  width: 100%;
}
#page_content {
  background: none repeat scroll 0 0 #FFFFFF;
  clear: both;
  position: relative;
  width: 100%;
}
#page_content.grid {
  overflow: hidden;
}
.page_column {
  float: left;
  margin: 0;
}
.menu-izquierda {
	margin-top: 20px;
	margin-left: 20px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 40px #555555;
	height: 450px;
	/*font-size: 1.3em;*/
}
.area-contenido {
	margin-top: 20px;
	margin-right: 20px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 40px #555555;
	float: left;
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
.container-fluid .row-fluid .menu-izquierda .nav li.nav-header {
	/*font-size: 0.8em;*/
}
h1 {
	font-size: 32px !important;
}
.textareaA {
	width: 90%;
}
legend {
	margin-bottom: 0px !important;
}
div.loading {
    background-image: url("../images/ajax-loader.gif");
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
    -moz-opacity: 1;
}
div.loading * {
    opacity: .5;
    -moz-opacity: .5;
}
.padding-left {
	padding-left: 20px;
}
#ui-datepicker-div {
	z-index: 9999999;
}